{% extends "site.html" %}
{% block title %}payment claim{% endblock %}
{% block content %}
<h1>Claim your payment</h1>

<form method="POST">
	{% if err == True %}
		<div class="error" style="display:block">There was a problem reclaiming your payment - please contact me</div>
	{% endif %}
	<p>Your payment will be reassociated with the accounts you a currently connected to.</p>
	<label for="email">Your PayPal Email Address:</label><input type="text" id="email" placeholder="you@yoursite.com" name="email"/><br/>
	{% csrf_token %}
	<button type="submit">Claim</button>

</form>
{% endblock %}