requests
pymongo==3.0.1
pytz
lxml
dropbox
python-dateutil
Django==1.8.2
pycryptodome
celery
django-pipeline==1.5.1
requests_oauthlib==0.4.0
redis==2.10.6
django-ipware
smashrun-client>=0.6.0
beautifulsoup4
