@import url(//fonts.googleapis.com/css?family=Economica:400,700);

body {
	font-family:Arial;
	background-color:#c0deed;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}

.contentOuter {
	z-index:100;
	display:table;
	position:absolute;
	height:100%;
	width:100%;
	padding:10px 0;
}

.contentWrap {
	display:table-cell;
	text-align:center;
	width:100%;
	vertical-align:middle;
}

.contentOuterBorder, .popoverOuterBorder {
	border-radius:10px;
	padding:1px 0;
	background-color:rgba(255,255,255,0.35);

}

.content, .popoverInner {
	margin:14px 15px;
	background-color:white;
	border-radius: 10px;
	border:1px solid transparent;
	padding:15px;
	font-family:Economica;
}

.contentOuterBorder {
	position:relative;
	margin-left:-480px;
	left:50%;
	width:960px;
}

.content {
	font-size:130%; /* damn font is unreadable */
	color:#333;
}

.popover {
	z-index:101;
	position:absolute;
	display:inline-block;
	left:0;
	top:0;
	margin-top:20px;
	min-width:200px;
}

.popoverArrow {
	top:-20px;
	left:50%;
	margin-left: -20px;
	width:0;
	height:0;
	position:absolute;
	border-bottom:20px solid rgba(255,255,255,0.35);
	border-left:20px solid transparent;
	border-right:20px solid transparent;
}
.popoverArrowInner {
	position: absolute;
	
	margin-top:15px;
	left:-20px;
	border-bottom:20px solid white;
	border-right:20px solid transparent;
	border-left:20px solid transparent;
}

.popover iframe {
	border:0;
}

.popover iframe#runkeeper {
	width:400px;
	height:550px;
}



.logo {
	width:100%;
	position:absolute;
	text-align: center;
	font-size:580%;
	color:white;
	font-family:Economica;
	font-weight:bold;
	margin-top:-150px;
}
.logo .sub {
	font-size:28%;
}
.logo a {
	color:inherit;
	text-decoration: none;
}
.logoPad {
	margin-top:150px;
}
.footers {
	font-size:120%;
	font-weight:bold;
	margin-top:5px;
	font-family:Economica;
	color:white;
}
.footers a {
	color:inherit;
}

.environsWrap {
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

.environs {
	position:absolute;
	height:100%;
	width:100%;
	overflow:hidden;
}

.mountains div {
	position:absolute;
	bottom:0;

	width:0;
	height:0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
.mountains #a {
	left:-200px;
	border-width:300px;
	border-bottom: 500px solid #8ec1da;
}
.mountains #c {
	left:0;
	border-width:200px;
	border-bottom: 600px solid #a6cfe3;
}
.mountains #b {
	left:70px;
	border-width:300px;
	border-bottom: 225px solid #95cbe5;
}

.sun {
	position:absolute;
	right:-120px;
	top:-120px;
	width:0;
	height:0;
	border-radius:100px;
	border:100px solid #FFF;

}

hr {
	border:0;
	border-bottom:1px dashed #8ec1da;
}

form {
	text-align:left;
}

form label {
	display:block;
	font-size:140%;
}
form input {
	font-size:120%;
}

form button {
	font-family: Economica;
	font-weight:bold;
	font-size:150%;
	text-align: center;
	display:inline-block;
	border:0;
	padding:10px;
	border-radius:5px;
	background-color:#c0deed;
	color:white;
	margin:10px;
	margin-bottom:0;
	cursor:pointer;
}

form button.cancel {
	background-color:#ccc;
}

form button.disabled {
	background-color:#eee;
	cursor:not-allowed;
}

form button:active {
	opacity:0.7;
}

form .error {
	display:none;
	color:#900;
	border-bottom:1px dotted #900;
	font-size:120%;
}
h1 {
	margin-top:5px;
}
h2 {
	color:#aaa;
}
h3 {
	margin-bottom: 5px;
}

ul {
	list-style-position: inside;
}

a {
	color: #444;
}

.sync-connector {
	position:absolute;
	left:15px;
	right:15px;
	top:55px;
	height:32px;
	background-image:url("../img/connector-dot.png");
	background-position: -15px 0;
}
.sync-inter {
	position: relative;
	display:inline-block;
	background-color:white;
}
.sync-interdot {
	display:inline-block;
	background-image:url("../img/connector-dot.png");
	width:96px;
	height:32px;
	vertical-align: 65%;
}
.serviceOuter {
	display: inline-block;
}
.service {
	display:inline-block;
	width:175px;
	position:relative;
	margin:10px;
	line-height:100%;
}

.service.inactive {
	opacity:0.7;
}

.service .button {
	position: relative;
	background-color:#c0deed;
	text-align: center;
	border-radius:5px;
	z-index:2;
	overflow:hidden;
}

.service .controls {
	
	z-index:1;
	margin-top:-5px;
	padding: 3px 5px;
	padding-top:6px;
	color:white;
	background-color:#8ec1da;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	overflow:hidden;
	max-height:20px;
}

.service .controls a {
	text-decoration: none;
}

.service .controls a:hover {
	text-decoration: underline;
	color:white;
}

.service .controlsInner {
	position: relative;
	-webkit-transition: top 0.2s ease;
}

.service.connected:hover .controlsInner {
	top:-1em;
}

.service .icon {
	position: relative;
	padding:5px;
	height:40px;
	line-height:35px;
	vertical-align: middle;
}

.service .icon img {
	display: inline-block;
	vertical-align: middle;
}

.service .status, .service .control {
	text-decoration: none;
	color:white;
	padding-left:19px;
	bottom:0;
	background-repeat:no-repeat;
	background-position: center left;
}

.service .control#login {
	background-image:url('../img/link.png');
}

.service .control#sync-dc {
	background-image:url('../img/unlink.png');
}

.service .status#sync-ok {
	background-image:url('../img/sync-ok.png');	
	padding-left:17px;
	background-position: 0% 65%;
}

.service .status#sync-fail {
	background-image:url('../img/sync-fail.png');	
}

.syncStatus {
	color:#aaa;
}

.syncStatus a {
	text-decoration: none;
	color:inherit;
	cursor:default;
}

.syncStatus a.active {
	text-decoration: none;
	color:#a6cfe3;
	cursor:pointer;
}

.syncStatus a.active:hover {
	text-decoration: underline;
}

@media only screen and (max-device-width: 480px) {
	.contentOuterBorder {
		width:90%;
		left:5%;
		margin-left:0;
	}
	.environsWrap {
		position:static;
	}
	.environs .mountains {
		display: none;
	}
	.environs .sun {
		position:absolute;
		border-width:77px;

	}
}