{% extends "site.html" %}
{% load displayutils %}
{% block title %}diagnostics{% endblock %}
{% block content %}
<div style="text-align:left">
	<h3>Stats</h3>
	<ul style="list-style:none;margin:0;padding:0;">
		<li><b>Users:</b> {{ userCt }} ({{ autosyncCt }} automatically synchronizing)</li>
		<li><b>Aggregated distance:</b> {{ stats.TotalDistanceSynced|format_meters }} km</li>
		<li><b>Sync time used:</b> {{ stats.TotalSyncTimeUsed|floatformat:0 }} sec</li>
		<li><b>Active Workers:</b> {% for worker in activeWorkers %}<tt>{{ worker.Process }}@{{ worker.Host }}</tt> {% if worker.Version != config.siteVer %} (out of date){% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
		<li><b>Stalled Workers:</b> <span style="color:red">{% for worker in stalledWorkers %}<form action="" method="POST"><tt>{{ worker.Process }}@{{ worker.Host }}</tt> since {{ worker.Heartbeat }} UTC{% csrf_token %}<input type="hidden" name="pid" value="{{ worker.Process }}"><input type="submit" name="deleteStalledWorker" value="x"/></form>{% endfor %}</span></li>
		<li><b>Stats update:</b> {{ stats.Updated }} UTC</li>
	</ul>
	<h3>Sync</h3>
	<ul style="list-style:none;margin:0;padding:0;">
		<li><b>Locked records:</b> {{ lockedSyncRecords }}
			{% if lockedSyncRecords > 0 %}
			<ul>{% for lockedUser in lockedSyncUsers %}
					{% with userId=lockedUser|dict_get:'_id' %}
					<li><a href="{% url 'diagnostics_user' user=userId %}">{{ userId }}</a> @ {{ lockedUser.SynchronizationProgress|percentage }} {% if lockedUser.SynchronizationWorker not in allWorkerPIDs %} <span style="color:red">(orphaned)</span>{% endif %}{% if lockedUser.SynchronizationWorker in stalledWorkerPIDs %} <span style="color:orange;">(stalled)</span>{% endif %}</li>
					{% endwith %}
				{% endfor %}
			</ul>
			{% endif %}
			<form action="" method="POST">{% csrf_token %}<input type="submit" name="unlockOrphaned" value="Unlock orphaned"></form>
		</li>
		<li><b>Pending synchronizations:</b> {{ pendingSynchronizations }}</li>
		<li><b>Sync errors (automatic):</b>
			<ul>{% for error in autoSyncErrorSummary %}
				<li>{{ error.message }} ({{ error.count }}) - {% for affected_user in error.affected_users %}<a href="{% url 'diagnostics_user' user=affected_user %}">{{ affected_user }}</a> {% endfor %}</li>
				{% endfor %}
			</ul>
		</li>
		<li><b>Sync errors (manual):</b>
			<ul>{% for error in syncErrorSummary %}
				<li>{{ error.message }} ({{ error.count }}) - {% for affected_user in error.affected_users %}<a href="{% url 'diagnostics_user' user=affected_user %}">{{ affected_user }}</a> {% endfor %}</li>
				{% endfor %}
			</ul>
		</li>
		<li><b>Users with errors:</b> {{ errorUsers|length }}
		</li>
		<li><b>Users with exclusions:</b> {{ exclusionUsers|length }}
		</li>
	</ul>
</div>


{% endblock %}