{% extends "site.html" %}
{% load displayutils %}
{% block title %}diagnostics{% endblock %}
{% block content %}
<div style="text-align:left">
	<h3>Stats</h3>
	<ul style="list-style:none;margin:0;padding:0;">
		<li><b>Users:</b> {{ userCt }} ({{ autosyncCt }} automatically synchronizing)</li>
		<li><b>Aggregated distance:</b> {{ stats.TotalDistanceSynced|format_meters }} km</li>
		<li><b>Sync time used:</b> {{ stats.TotalSyncTimeUsed|floatformat:0 }} sec</li>
		<li><b>Stats update:</b> {{ stats.Updated }} UTC</li>
	</ul>
	<h3>Sync</h3>
	<ul style="list-style:none;margin:0;padding:0;">
		<li><b>Locked records:</b> {{ lockedSyncRecords }}
			{% if lockedSyncRecords > 0 %}
			<ul>{% for lockedUser in lockedSyncUsers %}
					{% with userId=lockedUser|dict_get:'_id' %}
					<li><a href="{% url 'diagnostics_user' user=userId %}">{{ userId }}</a></li>
					{% endwith %}
				{% endfor %}
			</ul>
			{% endif %}
		</li>
		<li><b>Pending synchronizations:</b> {{ pendingSynchronizations }}</li>
		<li><b>Users with errors:</b> {{ errorUsers|length }}
			{% if errorUsers|length > 0 %}
			<ul>{% for errorUser in errorUsers %}
					{% with userId=errorUser|dict_get:'_id' %}
					<li><a href="{% url 'diagnostics_user' user=userId %}">{{ userId }}</a></li>
					{% endwith %}
				{% endfor %}
			</ul>
			{% endif %}
		</li>
	</ul>
</div>


{% endblock %}