{% extends "site.html" %}
{% load displayutils %}
{% block title %}errors{% endblock %}
{% block content %}
<div style="text-align:left">
	<ul>
		<li><b>Sync errors (automatic):</b>
			<ul>{% for error in autoSyncErrorSummary %}
				<li>[{{ error.service }}] {{ error.message }} ({{ error.count }}) - {% for affected_user in error.affected_users %}<a href="{% url 'diagnostics_user' user=affected_user.id %}" {% if affected_user.outdated %}style="color:#aaa;"{% elif affected_user.highlight %}style="color:magenta"{% endif %}>{{ affected_user.id }}</a> {% endfor %}</li>
				{% endfor %}
			</ul>
		</li>
		<li><b>Sync errors (manual):</b>
			<ul>{% for error in syncErrorSummary %}
				<li>[{{ error.service }}] {{ error.message }} ({{ error.count }}) - {% for affected_user in error.affected_users %}<a href="{% url 'diagnostics_user' user=affected_user.id %}">{{ affected_user.id }}</a> {% endfor %}</li>
				{% endfor %}
			</ul>
		</li>
	</ul>
</div>
{% endblock %}