{% extends "site.html" %}
{% load services %}
{% load displayutils %}
{% block title %}user diagnostics{% endblock %}
{% block content %}
<div style="text-align:left">
	<h4><a href="{% url 'diagnostics_dashboard' %}">&laquo; Back to dashboard</a></h4>
	<h3>Details</h3>
	<ul style="list-style:none;margin:0;padding:0;">
		<li><b>Created:</b> {{ user.Created }} UTC</li>
		<li><b>Email:</b> {% if user.Email %}<a href="mailto:{{ user.Email }}">{{ user.Email }}</a>{% else %}Not given{% endif %}</li>
		<li><b>Prev Sync:</b> {{ user.LastSynchronization }} UTC</li>
		<li><b>Next Sync:</b> {{ user.NextSynchronization }} UTC</li>
		<li><b>Lock:</b> {{ user.SynchronizationWorker }}</li>
		<li><b>Sync Control:</b> <form action="" method="POST">{% csrf_token %}<input type="submit" name="sync" value="Full"/> <input type="submit" name="sync" value="Normal"/> <input type="submit" name="unlock" value="Unlock"/></form></li>
		<li><b>Substitution:</b> <form action="" method="POST">{% csrf_token %}<input type="submit" name="substitute" value="su"/></form></li>
	</ul>
	{% if user.Payments|length > 0 %}
		<h3>Payments</h3>
		<ul style="list-style:none;margin:0;padding:0;">
		{% for payment in user.Payments %}
			<li><b>Txn:</b> <tt>{{ payment.Txn }}</tt> on {{ payment.Timestamp }} UTC</li>
		{% endfor %}
		</ul>
	{% endif %}
	{% for connection in user.ConnectedServices|svc_populate_conns %}
		{% with svc=connection.Service %}
			<h3>{{ connection.Service }}</h3>
			<ul style="list-style:none;margin:0;padding:0;">
				<li><b>ID:</b> <tt>{{ connection|dict_get:'_id' }}</tt></li>
				<li><b>Ext ID:</b> {% if svc.UserProfileURL %}<a target="_blank" href="{{ svc.UserProfileURL|format:connection.ExternalID }}">{% endif %} <tt>{{ connection.ExternalID }}</tt>{% if svc.UserProfileURL %} &raquo;</a>{% endif %}</li>
				<li><b>Synced Activity Count:</b> <tt>{{ connection.SynchronizedActivities|length }}</tt></li>
				<li><b>Auth:</b> <tt> {{ connection.Authorization }}</tt></li>
				<li><b>Controls:</b> <form action="" method="POST" onsubmit="return confirm('Really?');">{% csrf_token %}<input type="submit" name="svc_unlink" value="Force Unlink"/><input type="hidden" name="id" value="{{ connection|dict_get:'_id' }}"/></form>

				{% if connection.ExcludedActivities.items|length %}<form action="" method="POST">{% csrf_token %}<input type="submit" name="svc_clearexc" value="Clear exclusions"/><input type="hidden" name="id" value="{{ connection|dict_get:'_id' }}"/></form></li>{% endif %}
				{% if connection.SyncErrors|length > 0 %}
				<li><b>Sync Errors:</b>
					<ul>
						{% for err in connection.SyncErrors %}
							<li>
								<tt>{{ err.Type }}</tt> @ <tt>{{ err.Step }}</tt><br/>
								{{ err.Message|linebreaks }}
							</li>
						{% endfor %}
					</ul>

				</li>
				{% endif %}
				{% if connection.ExcludedActivities.items|length > 0 %}
				<li><b>Sync Exclusions:</b>
					<ul>
						{% for id, exc in connection.ExcludedActivities.items %}
							<li>
								<tt>{{ exc.Message }}</tt> {% if id|length == 25 %}@ <tt>{{ id }}</tt> {% endif %} (ext ID <tt>{% if svc.UserActivityURL %}<a target="_blank" href="{% stringformat svc.UserActivityURL connection.ExternalID exc.ExternalActivityID %}">{% endif %}{{ exc.ExternalActivityID }}{% if svc.UserActivityURL %}&raquo;</a>{% endif %}</tt>)</tt> [{% if exc.Permanent %}permanent{% else %}transient{% endif %}]
								{% if exc.Activity %}<br/>{{ exc.Activity }}{% endif %}
							</li>
						{% endfor %}
					</ul>

				</li>
				{% endif %}
			</ul>
		{% endwith %}
	{% endfor %}
</div>

{% endblock %}