{% extends "site.html" %}
{% load displayutils %}
{% block title %}contact{% endblock %}
{% block content %}
<div class="contactBlock">
	<h1>For system status updates</h1>
	<a href="http://aerobia.ru/clubs/425" target="_new" class="large">exercisync group on aerobia.ru</a>
</div>
<div class="contactBlock">
	<h1>For help with your account</h1>
	<p>If you are having issues with your account, <b>please check <a href="{% url 'activities_dashboard' %}">the activity dashboard</a></b> - it'll do its best to tell you what went wrong.</p>
	<a href="mailto:help@exercisync.com{% if user %}?body=My exercisync user ID is {{ user|dict_get:'_id' }}{% endif %}" target="_blank" class="large">help@exercisync.com</a>
	<p>If you're dissatisfied with the service and want a refund, make sure to mention that in the subject line so I can respond quickly.</p>
</div>
{% endblock %}