{% extends "site.html" %}
{% block title %}credits{% endblock %}
{% block content %}
<h1>Credits</h1>
<ul style="list-style:none" class="credits">

	<li><b><a href="https://github.com/ppkowalski">Piotr Kowalski</a></b> for connecting tapiriik with <a href="http://motivato.pl">Motivato</a></li>
	<li><b><a href="https://twitter.com/hozn">Hans Lellelid</a></b> and <b><a href="http://ridewithgps.com">Cullen King</a></b> for bringing us <a href="http://ridewithgps.com">RideWithGPS</a> support</li>
	<li><b>Todd Mosier</b> at <a href="http://zonefivesoftware.com">Zone Five Software</a> for his help with SportTracks.mobi integration</li>
	<li><b>Cosmo Catalano</b> for his work with the Strava API</li>
	<li><b>Strava, RunKeeper et al.</b> for creating and supporting the APIs that make this site possible</li>
	<li>and finally, <b>all the beta testers</b>. You know who you are.</li>
</ul>
{% endblock %}