{% extends "site.html" %}
{% block title %}credits{% endblock %}
{% block content %}
<h1>Credits</h1>
<ul style="list-style:none">
	<li><b>Cosmo Catalano</b> for his work with the Strava API</li>
	<li><b>Todd Mosier</b> at <a href="http://zonefivesoftware.com">Zone Five Software</a> for his help with SportTracks.mobi integration</li>
	<li><b>Strava, RunKeeper et al.</b> for creating the APIs that make this site possible</li>
	<li>and finally, <b>all the beta testers</b>. You know who you are.</li>
</ul>
{% endblock %}