{% extends "site.html" %}
{% block title %}credits{% endblock %}
{% block content %}
<h1>Credits</h1>
<ul style="list-style:none" class="credits">
	<li>Exercisync is based on the <a href="https://github.com/cpfair/tapiriik">tapiriik</a> open source project by <b><a href="https://github.com/cpfair">Collin Fair</a></b></li>
	<li><b><a href="https://github.com/timbilalov">Timur Bilalov</a></b> for frontend contributions</li>
	<li><b>Aerobia, Polar, Strava et al.</b> for creating and supporting the APIs that make this site possible</li>
	<li>and finally, <b>all the beta testers</b>. You know who you are.</li>
</ul>
{% endblock %}