{% extends "site.html" %}
{% block title %}FAQ{% endblock %}
{% block content %}
<div style="text-align:left;" class="faqBlocks">
<h1>Questions: Answered</h1>
<div>
	<h3>What do I have to do to use tapiriik?</h3>
	Just connect to all the services you would like to sync between, click &quot;Synchronize now,&quot; then forget ever reading this sentence.
</div>

<div class="right">
	<h3>Do I need to re-connect my accounts every time?</h3>
	<strong>No!</strong> Just <strong>connect to any one of the services you have already connected</strong>, and you will be signed back into tapiriik and ready to start another synchronization.
</div>


<div>
	<h3>Do I need to visit tapiriik.com to sync activities?</h3>
	<b>For $2/year, synchronization is fully automatic.</b> If you can't manage that, you can visit <a href="https://tapiriik.com">tapiriik.com</a> as often as you want to manually trigger a synchronization.
</div>

<div class="right">
	<h3>$2?! <a href="http://theoatmeal.com/blog/apps" target="_new">I should really call my accountant first&hellip;</a></h3>
	Synchronizing activities once costs <em>almost</em> nothing. Doing it 24 times a day, 365 days a year: less so. You paying <b>$2 a year covers these costs so tapiriik will always run smoothly</b>.
</div>

<div>
	<h3>Which activities get synchronized?</h3>
	<b>All supported activities in your account are synchronized</b>, not just new ones. Manually entered activities are supported, but are not currently being synchronized <i>to</i> TrainingPeaks (still some bugs to work out there).
</div>

<div class="right">
	<h3>Will tapiriik create duplicate activities?</h3>
	Nope - <b>even if you tracked the same activity on multiple devices, or with multiple apps,</b> tapiriik will see that and <b>won't create any duplicate activities</b>.
</div>

<div class="right">
	<h3>What about activities I've marked as private?</h3>
	By default, <b>tapiriik will <u>not</u> sync private activities</b>. If you wish, you can opt to have private activities synchronized. Remember that <b>not all services support private activities,</b> and you should be cognizant of your privacy settings across all of your accounts.
</div>

<div>
	<h3>What data gets synchronized?</h3>
	As much as possible: in addition to your path, tapiriik will also sync <b>distance, speed, heart rate, cadence, power, calories burned and even temperature</b> between all services which support them.
</div>

<div class="right">
	<h3>The activity statistics changed after a sync!</h3>
	Discrepencies in activity statistics, like elevation gained/lost or calories burned, appear when <strong>services use different algorithms to calculate the same values</strong>. <strong>tapiriik does not calculate these</strong> during synchronization.
</div>

<div>
	<h3>Can I view which activities were synchronized?</h3>
	When logged in, you can <b>visit the <a href="{% url 'activities_dashboard' %}">activities dashboard</a></b> to see which activities were (or were not) synchronized, and to where.
</div>

<div>
	<h3>Can I sync in only one direction?</h3>
	Yes: <b>before triggering a sync</b>, open up the options for the service in question and tweak as desired. These preferences are applied to all activities - even after they've been synchronized to other services.
</div>

<div class="right">
	<h3>What are "untagged activites" and why do I care?</h3>
	<b>GPX and TCX files in your Dropbox don't include information about the type of activity they contain</b>. You need to include the <a href="/supported-activities">type of the activity</a> in the file name, or place the file in an <a href="/supported-activities">appropriately named folder</a>.
</div>

<div class="right">
	<h3>Who is "tapiriik sync" on Garmin Connect?</h3>
	To enable efficient synchronization, <b>tapiriik adds a special user</b> to your Garmin Connect connections. You should <b>never acccept a seperate connection request</b> from a user like this; the process is fully automatic. <a href="{% url 'garmin_connect_users' %}">Read more</a>.
</div>

<div>
	<h3>Does tapiriik ever modify or delete my activities?</h3>
	<b>No.</b> Simple as that.
</div>

<div>
	<h3>What data is stored on your servers?</h3>
	As little as is required. Check out the <a href="{% url 'privacy' %}">privacy page</a> for more.
</div>

<div class="right">
	<h3>How do I connect more services?</h3>
	Just sign into any one of the services you already connected, then sign into the new service (or the other way around, it doesn't matter). The new service will be synchronized with all the others.
</div>

<div>
	<h3>Will tapiriik support <i>Activity Tracking Site X</i>?</h3>
	Possibly. I've had very little time to add additional services while at the same time maintaining those already available.
</div>

<div class="right">
	<h3>What about the new Garmin/TrainingPeaks sync?</h3>
	<b>Feel free to use it</b> - I haven't had any reports of duplicate activities from using both the official Garmin Connect/TrainingPeaks connection and tapiriik at the same time.
</div>

<div>
	<h3>Can tapiriik and CopyMySports be used together?</h3>
	<b>I wouldn't recommend it</b> - CopyMySports will often create duplicates of activities tapiriik has already synchronized.
</div>



</div>
<div style="clear:both;"></div>
{% endblock %}