{% extends "site.html" %}
{% block title %}FAQ{% endblock %}
{% block content %}
<div style="text-align:left;">
<h1>Questions: Answered</h1>
<h3>What do I have to do to use tapiriik?</h3>
Just sign in to all the services you would like to sync between, then forget ever reading this sentence. 
<h3>Do I need to visit tapiriik.com to synchronize activities?</h3>
No! <b>Synchronization is fully automatic</b>.
<h3>Which activities get synchronized?</h3>
Activities are synchronized <b>only to services that handle them</b> (e.g. no swimming in your Strava account... <a href="https://strava.zendesk.com/entries/22144301-Add-Garmin-Swim-upload-to-Strava" target="_blank">yet</a>). <b>All supported activities in your account are synchronized</b>, not just new ones. Stationary activities are currently not being synchronized.
<h3>What data gets synchronized?</h3>
As much as possible: in addition to your path, tapiriik will also sync <b>heart rate, cadence, power, calories burned, and even temperature</b> between all services which support them.

<h3>How often do synchronizations occur? Can I manually trigger a sync?</h3>
Your activities will be synchronized <b>every 60 minutes</b>, but if you're anxious you can visit <a href="https://tapiriik.com">tapiriik.com</a> and click the countdown to sync immediately. There is a 10 minute minimum period between synchronizations.
<h3>What data is stored on your servers?</h3>
As little as is required. Check out the <a href="{% url 'privacy' %}">privacy page</a> for more.
<h3>I've already connected a few services, but I want to add more, how?</h3>
Just sign into any one of the services you already connected, then sign into the new service (or the other way around, it doesn't matter). The new service will automatically be synchronized with all the others.
<h3>What if I already uploaded the same activity to multiple services?</h3>
No worries - tapiriik will see that and <b>won't create any duplicate activities</b>.

<h3>But why?</h3>
I'm indecisive, and I couldn't stand the tedium of downloading + uploading GPX files between the services I tracked activities with. 

<h3></h3>
<h3></h3>
</div>
{% endblock %}