{% extends "site.html" %}
{% block title %}privacy{% endblock %}
{% block content %}
<h1>tapiriik stores...</h1>
<ul style="list-style:none">
	<li>Details of your activities (path, time, etc...)</li>
	<li>The authentication tokens used to read and upload activities</li>
	<li>Your email - but <em>only</em> if you opt into having it stored for diagnostic purposes</li>
</ul>
<h2>...until you disconnect your account or they are no longer needed, whichever is sooner</h2>



<div style="clear:both;"></div>
<h1>tapiriik never stores...</h1>
<ul style="list-style:none">
	<li>Your username or password</li>
	<li>Your name</li>
</ul>
<h2>...ever</h2>

{% endblock %}