{% extends "site.html" %}
{% block title %}privacy{% endblock %}
{% block content %}
<h1>tapiriik stores...</h1>
<ul style="list-style:none">
	<li>Details of your activities (path, time, etc...)</li>
	<li>The authentication tokens used to read and upload activities</li>
	<li>Your email - but <em>only</em> if you opt into having it stored for diagnostic purposes</li>
</ul>
<h2>...until you disconnect your account or they are no longer needed, whichever is sooner</h2>



<div style="clear:both;"></div>
<h1>What about my email and password?</h1>
<p><strong>In most cases,</strong> tapiriik <strong>never stores</strong> (or even knows) your email or password.</p>
<p><strong>Garmin Connect and SportTracks.mobi</strong> credentials are stored<sup>‡</sup> only <strong>if you opt in.</strong></p>



<p><sup>‡</sup> I've done a good deal to keep these credentials safe, but there has to be a way for tapiriik to use them to sync your account. Therefore, anyone with enough access and resources to the tapiriik database and servers could use them, too.</p>

{% endblock %}