RUNKEEPER_CLIENT_ID="####"
RUNKEEPER_CLIENT_SECRET="####"

DROPBOX_FULL_APP_KEY = "####"
DROPBOX_FULL_APP_SECRET = "####"

DROPBOX_APP_KEY = "####"
DROPBOX_APP_SECRET = "####"
DROPBOX_APP_FOLDER_NAME = "tapiriik"

STRAVA_CLIENT_SECRET = "####"
STRAVA_CLIENT_ID = "####"

SPORTTRACKS_CLIENT_ID = "####"
SPORTTRACKS_CLIENT_SECRET = "####"

RWGPS_APIKEY = "####"
