RUNKEEPER_CLIENT_ID="####"
RUNKEEPER_CLIENT_SECRET="####"

DROPBOX_FULL_APP_KEY = "####"
DROPBOX_FULL_APP_SECRET = "####"

DROPBOX_APP_KEY = "####"
DROPBOX_APP_SECRET = "####"

STRAVA_CLIENT_SECRET = "####"
STRAVA_CLIENT_ID = "####"

STRAVA_RATE_LIMITS = []

SPORTTRACKS_CLIENT_ID = "####"
SPORTTRACKS_CLIENT_SECRET = "####"

ENDOMONDO_CLIENT_KEY = "####"
ENDOMONDO_CLIENT_SECRET = "####"

NIKEPLUS_CLIENT_NAME = "####"
NIKEPLUS_CLIENT_ID = "####"
NIKEPLUS_CLIENT_SECRET = "####"

LFCONNECT_CLIENT_ID="####"
LFCONNECT_CLIENT_SECRET="####"

RWGPS_APIKEY = "####"

MOTIVATO_PREMIUM_USERS_LIST_URL = "http://..."
