{% extends "site.html" %}
{% load services %}
{% load users %}
{% block title %}{% if user != none %}dashboard{% else %}sync your fitness activities{% endif %}{% endblock %}

{% block content %}
{% if user != none %}
		{% if user.Substitute %}
		<h1>Substituting user</h1>
		<a href="{% url 'diagnostics_unsu' %}">Return</a>
		<hr/>
		{% endif %}
		<div class="serviceButtonOuter">
			<div class="serviceButtonWrap">
			{% for connection in user.ConnectedServices|svc_populate_conns %}
			{% with svc=connection.Service %}
				{% include "service-button.html" with provider=svc connection=connection %}
				{% if svc.Configurable %}
					<noscript>
					<p><a href="/configure/{{ connection.Service }}">Configure {{ svc.DisplayName }} &raquo;</a></p>
					</noscript>
				{% endif %}
			{% endwith %}
			{% endfor %}
			</div>
		</div>
	{% if user.ConnectedServices|length > 1 %}
		<div class="syncStatus" style="opacity:0;"><span id="syncStatusPreamble">Next synchronization in </span><a href="#" id="syncButton">a period of time</a></em></div>
	{% endif %}
	{% if user.SyncErrorCount > 0 %}
		<a href="{% url 'faq' %}#partial" style="color:#aaa; font-size:80%;">Some activities could not be synchronized.</a><br/>
	{% endif %}

	{% if user.ConnectedServices|length > 1 %}
		{% if user|has_active_payment %}
		{% else %}
			{% include "payment.html" %}
		{% endif %}
	{% endif %}
	{% for provider in user.ConnectedServices|svc_providers_except %}
		{% if provider.ID not in config.soft_launch %}
			{% if forloop.first %}<hr>{% endif %}
			{% include "service-button.html" with provider=provider inactive=True %}
		{% endif %}
	{% endfor %}

{% else %}
<p class="splashPreamble">tapiriik synchronizes your fitness activities between Garmin Connect, RunKeeper, Strava, Endomondo and Dropbox<br/>
(your heart rate, cadence, power, and temperature data syncs too)</p>
	{% for provider in service_providers %}
		{% if provider.ID not in config.soft_launch %}
			{% include "service-button.html" with provider=provider %}
		{% endif %}
	{% endfor %}
<p class="splashPreamble">Your email, password, and fitness data are kept safe - full details on the <a href="{% url "privacy" %}">privacy page</a>.</p>
{% endif %}
{% endblock %}