{% extends "site.html" %}
{% load services %}
{% load users %}
{% load displayutils %}
{% block title %}{% if user != none %}dashboard{% else %}sync your runs, rides & more{% endif %}{% endblock %}

{% block content %}
{% if user != none %}
		{% if user.Substitute %}
		<h1>Substituting user</h1>
		<a href="{% url 'diagnostics_unsu' %}">Return</a>
		<hr/>
		{% endif %}
		<p><b>Seeing strange activities in your accounts uploaded by tapiriik?</b> <a href="/garmin_connect_bad_data">Read more here.</a></p>

		{% if user.BlockedOnBadActivitiesAcknowledgement %}
		<form method="POST" action="/sync/bad_activities_acknowledgement_clear" style="text-align: center;">{% csrf_token %}
		<p>To prevent these bad activities from spreading further, your account is currently paused. Once you have read the above page and cleared any bad activities from your account, please click the button below:<br/>
			<button type="submit">I've checked my accounts and deleted any incorrect activities from this incident</button></p>
		</form>
		{% endif %}
		{% if user.ConnectedServices|length > 1 %}
			{% infotip connectedWillSync %}Connected services will be synchronized {% if user|has_active_payment %}automatically{% else %}when you click Synchronize now{% endif %}{% endinfotip %}
		{% else %}
			{% infotip connectOneMore %}Connect a second service to synchronize your activities to &amp; from{% endinfotip %}
		{% endif %}
		{% if "garminconnect" in user.ConnectedServices|svc_ids %}
		{% infotip gc_old %}In order to continue synchronizing activities from your Garmin Connect account, please connect it again.{% endinfotip %}
		{% endif %}
		{% if "garminconnect2" in user.ConnectedServices|svc_ids %}
		{% infotip gc_new_oneway_2 %}Due to new limitations in Garmin Connect's API, tapiriik can no longer upload activities to your Garmin Connect account, download historical activities from before you connected to tapiriik, or detect private acitivites (all activities uploaded to your Garmin Connect account will be synchronized).{% endinfotip %}
		{% endif %}
		<div class="serviceButtonOuter">
			<div class="serviceButtonWrap">
			{% for connection in user.ConnectedServices|svc_populate_conns %}
				{% with svc=connection.Service %}
					{% if svc.ID not in config.withdrawn_services %}
						{% include "service-button.html" with provider=svc connection=connection %}
					{% endif %}
				{% endwith %}
			{% endfor %}
			</div>
		</div>
	{% if user.ConnectedServices|length > 1 %}
		<div class="syncButtonBlock">
			<div class="syncButtonAttachment left">Queueing to Synchronize</div><div class="syncButtonWrap"><a class="syncButton">Synchronize Now<div class="syncButtonIcon"></div></a><a href="#/settings" class="syncSettingsNubbin"><span class="sr">Synchronization Settings</span><div class="syncSettingsNubbinIcon"></div></a></div><div class="syncButtonAttachment right">Attached info 10%</div>
		</div>
		{% include "settings-block.html" %}

		{% if user.NonblockingSyncErrorCount > 0 %}
			<a href="{% url 'activities_dashboard' %}" style="color:#aaa; font-size:80%;">Some activities could not be synchronized.</a><br/>
		{% endif %}

		{% if user|has_active_payment %}
		{% else %}
			{% include "payment.html" %}
		{% endif %}

		{% for connection in user.ConnectedServices|svc_populate_conns %}
			{% with svc=connection.Service %}
				{% for error in connection.SyncErrors %}
					{% if error.UserException.InterventionRequired and error.Block %}
						{% include "service-blockingexception.html" with provider=svc connection=connection exception=error %}
					{% endif %}
				{% endfor %}
			{% endwith %}
		{% endfor %}

		{% include "recent-sync-activity-block.html" %}
	{% endif %}

	{% for provider in user.ConnectedServices|svc_providers_except %}
		{% if provider.ID not in config.soft_launch and provider.ID not in config.withdrawn_services %}
			{% if forloop.first %}<hr>{% infotip connectMore %}You can synchronize more services by connecting them below{% endinfotip %}{% endif %}
			{% include "service-button.html" with provider=provider inactive=True %}
		{% endif %}
	{% endfor %}

{% else %}
<p class="splashPreamble">tapiriik synchronizes your fitness activities between Garmin Connect, Runkeeper, Strava, TrainingPeaks, SportTracks.mobi, Endomondo, RideWithGPS, TrainAsONE, TrainerRoad, Motivato, Velo Hero, Epson RUNSENSE, Dropbox, Smashrun, BeginnerTriathlete, Pulsstory, Singletracker,  and SETIO<br/>
(your heart rate, cadence, power, and temperature data syncs too)</p>

	{% for provider in service_providers %}
		{% if provider.ID not in config.soft_launch and provider.ID not in config.withdrawn_services %}
			{% include "service-button.html" with provider=provider %}
		{% endif %}
	{% endfor %}
<p class="splashPreamble">Your email, password, and fitness data are kept safe - full details on the <a href="{% url "privacy" %}">privacy page</a>.</p>
{% endif %}
{% endblock %}
