{% extends "site.html" %}
{% load services %}
{% load users %}
{% block title %}{% if user != none %}dashboard{% else %}sync your fitness activities{% endif %}{% endblock %}

{% block content %}
{% if user != none %}
	
		<div class="serviceButtonOuter">
			<div class="serviceButtonWrap">
			{% for connection in user.ConnectedServices|svc_populate_conns %}
			{% with svc=connection|svc_conn_to_provider %}
				{% include "service-button.html" with provider=svc connection=connection %}
				{% if svc.RequiresConfiguration and not connection.Config %}
					<noscript>
					<p><a href="/configure/{{ connection.Service }}">You must configure {{ svc.DisplayName }} before first use</a></p>
					</noscript>
				{% endif %}
			{% endwith %}
			{% endfor %}
			</div>
		</div>
	<div class="syncStatus" style="opacity:0;"><span id="syncStatusPreamble">Next synchronization in </span><a href="#" id="syncButton">a period of time</a></em></div>
	{% if user.ConnectedServices|length > 1 %}
		{% if user|has_active_payment %}
		{% else %}
			{% include "payment.html" %}
		{% endif %}
	{% endif %}
	{% if user.ConnectedServices|svc_providers_except|length != 0 %}
		<hr>
		{% for provider in user.ConnectedServices|svc_providers_except %}
			{% include "service-button.html" with provider=provider inactive=True %} 
		{% endfor %}
	{% endif %}
	
{% else %}
<p class="splashPreamble">tapiriik synchronizes your fitness activities between RunKeeper, Strava, Endomondo and Dropbox<br/>
(your heart rate, cadence, power, and temperature data syncs too)</p> 
	{% for provider in service_providers %}
	{% include "service-button.html" with provider=provider %}
	{% endfor %}
<p class="splashPreamble">Your email, password, and fitness data are kept safe - full details on the <a href="{% url "privacy" %}">privacy page</a>.</p>
{% endif %}
{% endblock %}