{% extends "site.html" %}
{% block title %}privacy{% endblock %}
{% block content %}
<div class="privacyPage">
<h1>tapiriik stores...</h1>
<table class="privacyTable fancyTable">
	<tr class="headers">
		<th></th>
		<th>Your <b>email</b></th>
		<th>Your <b>password</b><sup>1</sup></th>
		<th>Access <b>tokens</b></th>
		<th>Activity <b>metadata</b></th>
		<th>Activity <b>data</b></th>
	</tr>
	{% for service in services %}
	<tr class="{% cycle 'odd' '' %}">
		<td class="serviceCol"><img src="{{ STATIC_URL }}img/services/{{ service.ID }}.png" alt="{{ service.DisplayName }}"></td>
		<td>{{ service.email|safe }}</td>
		<td>{{ service.password|safe }}</td>
		<td>{{ service.tokens|safe }}</td>
		<td>{{ service.metadata|safe }}</td>
		<td>{{ service.data|safe }}</td>
	</tr>
	{% endfor %}
	<tr class="{% if services|length|divisibleby:2 %}odd{% endif %}">
		<td class="serviceCol" style="font-size:140%">Automatic Sync</td>
		<td><span class="policy yes">Yes</span><sup>2</sup></td>
		<td colspan="4">N/A</td>
	</tr>
</table>

<h2>...until you disconnect your account or they are no longer needed, whichever is sooner</h2>

<div class="explanations">
	<div class="explanation">
	<div class="header"><span>What are</span>Access tokens?</div>
	<p>Access tokens allow tapiriik to <b>perform actions on your behalf</b>. By using access tokens, tapiriik never needs to store your username or password. In order to obtain an access token, tapiriik may need to ask for your credentials - which are erased immediately after being exchanged for an access token.</p>
	</div>

	<div class="explanation">
	<div class="header"><span>What is</span>Activity metadata?</div>
	<p>Activity Medatada are the basic details of any activity: <b>start time, time zone, duration, distance, and type</b>. tapiriik needs to store this information to determine which activities should be synchronized to each of your accounts.</p>
	</div>
</div>

	<div class="explanation">
	<div class="header"><span>What constitutes</span>Activity data?</div>
	<p>Activity data is the complete record of an activity: <b>the GPS track, sensor data, and all metadata</b>. Certain services require tapiriik to temporarily store (&quot;cache&quot;) this data as part of synchronization.</p>
	</div>
</div>

<div style="clear:both;"></div>

<p style="text-align:left;"><sup>1</sup> I've done a good deal to keep your password safe, but there has to be a way for tapiriik to use it to sync your account. Therefore, anyone with enough access and resources to the tapiriik database and servers could access it, too.</p>

<p style="text-align:left;"><sup>2</sup> The email address you used to pay is stored so that you can transfer or recover your payment.</p>

<h1>All the juicy details</h1>

<p style="text-align:left;">tapiriik moves your activities between the services you connect - period. No activity data or metdata is ever shared with third parties beyond the accounts you connect.</p>

<p style="text-align:left;">However, the services you connect may, of their own accord, share your activity data with third parties. For instance, at the time I write this, Strava reserves the right to <i>"collect certain use data and information related to [tapiriik's] use of the Strava API Materials, and Strava Platform in connection with [tapiriik's] Developer Application ("Usage Data"), and that Strava may use such Usage Data for any business purpose, internal or external, including, without limitation, providing enhancements to the Strava API Materials or Strava Platform, providing developer of user support, or otherwise."</i> Please consult the privacy policy for the services you connect in order to determine how they handle your data.</p>

<p style="text-align:left;">Limited data regarding your interaction with tapiriik.com is recorded in order to monitor the performance of the website itself. <a href="https://www.google.com/analytics/" target="_new">Google Analytics</a> is used to track website performance, while <a href="https://sentry.io" target="_new">Sentry</a> records internal server errors.</p>

<h1>Exporting &amp; erasing your personal data</h1>
<p style="text-align:left;">Most of the data tapiriik stores regarding your accounts and activities is automatically deleted once you disconnect your last service from tapiriik.com. Only diagnostic logs regarding your account will remain for a limited period afterwards - but are not stored permanently. When you disconnect a service from tapiriik, any activities that tapiriik synchronized to that service will remain untouched. If you wish to receive a copy of all the data tapiriik has stored regarding your user account, or request the deletion of this data, please <a href="/contact">contact me</a> and mention GDPR in the subject line.</p>
</div>
{% endblock %}
