{% load services %}
<div class="serviceOuter">
	<div class="service{% if inactive %} inactive {% endif %} {% if provider.ID in user.ConnectedServices|svc_ids %} connected {% endif %}" id="{{ provider.ID }}">
		{% if not user or provider.ID not in user.ConnectedServices|svc_ids %}
		<a href="{{ provider.UserAuthorizationURL }}" class="authDialog" service="{{ provider.ID }}">
		{% endif %}
			<div class="button">
				<div class="icon"><img lgsrc="{{ STATIC_URL }}img/services/{{ provider.ID }}_l.png" src="{{ STATIC_URL }}img/services/{{ provider.ID }}.png"/></div>
			</div>
			<div class="controls">
				<div class="controlsInner">
					{% if provider.ID in user.ConnectedServices|svc_ids %}
						{% if connection.SyncErrors|length > 0 %}
							<span class="status" id="sync-fail">OH NO! AN ERROR</span>
							<a href="{{ provider.UserDisconnectURL }}" class="deauthDialog" service="{{ provider.ID }}"><span class="control" id="sync-dc">Dis</span></a> &#x22EF;
							<a href="{{ provider.UserAuthorizationURL }}" class="authDialog" service="{{ provider.ID }}"><span class="control" id="login">Reconnect</span></a>
						{% else %}
							<span class="status" id="sync-ok">Connected</span>
							<a href="{{ provider.UserDisconnectURL }}" class="deauthDialog" service="{{ provider.ID }}"><span class="control" id="sync-dc">Disconnect</span></a>
						{% endif %}
						{% else %}
							<a href="{{ provider.UserAuthorizationURL }}" class="authDialog control" id="login" service="{{ provider.ID }}">
Connect</a>
					{% endif %}
				</div>
			</div>
		{% if not user or provider.ID not in user.ConnectedServices|svc_ids %}
		</a>
		{% endif %}
	</div>
</div>