{% load services %}
<div class="service{% if inactive %} inactive {% endif %}" id="{{ provider.ID }}">
	{% if not user or provider.ID not in user.ConnectedServices|svc_ids %}
	<a href="{{ provider.UserAuthorizationURL }}" mode="{{ provider.AuthenticationType }}" class="authDialog">
	{% endif %}
		<div class="button">
			<div class="icon"><img lgsrc="{{ STATIC_URL }}img/services/{{ provider.ID }}_l.png" src="{{ STATIC_URL }}img/services/{{ provider.ID }}.png"/></div>
		</div>
		<div class="controls">
			{% if provider.ID in user.ConnectedServices|svc_ids %} 
			
			<span class="control" id="sync-ok">Connected</span>
			{% else %}
			<a class="control" id="login" href="{{ provider.UserAuthorizationURL }}">Login</a>
			{% endif %}
		</div>
	{% if not user or provider.ID not in user.ConnectedServices|svc_ids %}
	</a>
	{% endif %}

</div>
