{% load services %}
<div class="serviceOuter">
	<div class="service{% if inactive %} inactive {% endif %} {% if provider.ID in user.ConnectedServices|svc_ids %} connected {% endif %}" id="{{ provider.ID }}">
		{% if not user or provider.ID not in user.ConnectedServices|svc_ids %}
		<a href="{{ provider.UserAuthorizationURL }}" class="authDialog" service="{{ provider.ID }}">
		{% endif %}
			<div class="button">
				<div class="icon"><img lgsrc="{{ STATIC_URL }}img/services/{{ provider.ID }}_l.png" src="{{ STATIC_URL }}img/services/{{ provider.ID }}.png" alt="{{ provider.DisplayName }}"/>Sync with {{ provider.DisplayName }}</div>
			</div>
		{% if not user or provider.ID not in user.ConnectedServices|svc_ids %}
		</a>
		{% endif %}
			<div class="controls">
				<div class="controlsInner">
					{% if provider.ID in user.ConnectedServices|svc_ids %}
					<div class="row">
						{% if connection.SyncErrors|length > 0 %}
							{% if connection.SyncErrors.0.Type == "authorization" %}

								<span class="status" id="sync-fail">Authorization Error</span>
							{% elif connection.SyncErrors.0.Code == "UNTAGGED" %}
								<span class="status" id="sync-info">Untagged activities</span>
							{% else %}
								<span class="status" id="sync-fail">Sync Failure</span>
							{% endif %}
						{% else %}
							<span class="status" id="sync-ok">Connected</span>
						{% endif %}
					</div>
					<div class="row">
						{% if connection.SyncErrors|length == 0 or connection.SyncErrors.0.Type != "authorization" %}
							{% if user.ConnectedServices|length > 1 %}
								<a href="#" class="configDialog" service="{{ provider.ID }}"><span class="control" id="sync-config">Reconfigure</span></a>
							{% else %}
								<a href="{{ provider.UserDisconnectURL }}" class="deauthDialog" service="{{ provider.ID }}"><span class="control" id="sync-dc">Disconnect</span></a> 
							{% endif %}
						{% else %}
							<a href="{{ provider.UserDisconnectURL }}" class="deauthDialog" service="{{ provider.ID }}"><span class="control" id="sync-dc">Dis</span></a> &#x22EF;
							<a href="{{ provider.UserAuthorizationURL }}" class="authDialog" service="{{ provider.ID }}"><span class="control" id="login">Reconnect</span></a>
						{% endif %}
					</div>

					{% else %}
					<div class="row">
						<a href="{{ provider.UserAuthorizationURL }}" class="authDialog control" id="login" service="{{ provider.ID }}">Connect</a>
					</div>
					{% endif %}
				</div>
			</div>
	</div>
</div>