<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <script src="//code.jquery.com/jquery-1.8.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.address-1.5.min.js"></script>
    <script src="{{ STATIC_URL }}js/tapiriik.js"></script>
    <title>{% block title %}{% endblock %} &bull; tapariik </title>
</head>

<body>

	<!-- I blame centre-aligning -->
	<div class="contentOuter">
		<div class="contentWrap">
			<div class="mainBlock">
				<div class="logo">
					tapiriik
					<div class="sub">keeps your fitness in sync</div>
				</div>
				<div class="contentOuterBorder">
					<div class="content">
		    			{% block content %}{% endblock %}
		    		</div>
	    		</div>
	    		<div class="footers">
	    			FOOTER FOOTER FOOTER
	    		</div>
	    	</div>
    	</div>
    </div>
    
    <!-- I should procedurally generate these -->
    <div class="environsWrap">
	    <div class="environs">
	    	<div class="mountains">
	    		<div id="a"></div><div id="b"></div><div id="c"></div><div id="e"></div>
	    	</div>
	    	<div class="sun"></div>
	    </div>
	</div>

	

</body>
</html>