{% load displayutils %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" value="text/html; charset=UTF-8">
	<meta name="Description" content="Automatically synchronize your fitness activities between Garmin Connect, Runkeeper, Strava and more.">
	<meta name="Keywords" content="automatic, synchronize, sync, update, copy, transfer, download, back up, export, fitness, garmin, garmin connect, runkeeper, strava, sporttracks, dropbox, path, track, heart rate, free, service, gpx, tcx, health, data, service, cycling, running, swimming, walking, what other activities can I put here?, underwater basket weaving, why are you reading the SEO keywords anyways, move along, nothing to see here">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?userexc" />
    {% if config.in_diagnostics %}
	<script type="text/javascript">tapiriik = {diagnostics: true};</script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/diagnostics.css" />
	{% endif %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.address-1.5.min.js"></script>
    <script src="{{ STATIC_URL }}js/tapiriik.js?utz"></script>
    {% if user %}
    <script src="{{ STATIC_URL }}js/jstz.min.js"></script>
    {% endif %}
    <title>{% block site_title %}{% block title %}dashboard{% endblock %} &bull; tapiriik{% endblock %}</title>

    <meta name="viewport" content="width=device-width">
    {% block head %}{% endblock %}
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png">
</head>

<body>

	<!-- I blame centre-aligning -->
	<div class="contentOuter">
		<div class="contentWrap">
			<div class="mainBlock">
				<div class="logo">
					<a href="/">tapiriik</a>
					<div class="sub">keeps your fitness in sync</div>
				</div>
				<div class="logoPad"></div>
				<div class="contentOuterBorder">
					<div class="content">
		    			{% block content %}{% endblock %}
		    		</div>
	    		</div>
	    		<div class="footers"><a href="{% url 'faq' %}">FAQ</a> | <a href="{% url 'privacy' %}">Privacy</a> | <a href="{% url 'credits' %}">Credits</a><br/><span style="font-size:95%;font-weight:normal">All trademarks displayed are property of their respective owners</br>
	    			<a href="http://twitter.com/tapiriik" target="_blank">@tapiriik</a> by <a href="mailto:contact@tapiriik.com{% if user %}?body=My tapiriik user ID is {{ user|dict_get:'_id' }}{% endif %}" target="_blank">Collin Fair</a></a>
	    		</div>
	    	</div>
    	</div>
    </div>

    <!-- I should procedurally generate these -->
    <div class="environsWrap">
	    <div class="environs">
	    	<div class="mountains">
	    		<div id="a"></div><div id="b"></div><div id="c"></div><div id="e"></div>
	    	</div>
	    	<div class="sun"></div>
	    </div>
	</div>

	<script type="text/javascript">
	{% include "js-bridge.js" %}

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-39083873-1']);
	_gaq.push(['_trackPageview']);
	_gaq.push(['_setDomainName', 'none']);
	(function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

	</script>
</body>
</html>
