<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" value="text/html; charset=UTF-8">
	<meta name="Description" content="Automatically synchronize your fitness activities between Runkeeper, Strava and more.">
	<meta name="Keywords" content="synchronize, sync, update, fitness, path, track, heart rate, runkeeper, strava, automatic, free, service, gpx, tcx, download, upload, health, data, service, cycling, running, swimming, what other activities can I put here?, why are you reading the SEO keywords anyways, move along, nothing to see here">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <title>tapiriik</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png">
</head>

<body>
	<div class="contentOuter">
		<div class="contentWrap">
			<div class="mainBlock">
				<div class="logo">
					<a href="/">tapiriik</a>
					<div class="sub">keeps your fitness in sync</div>
				</div>
	    	</div>
    	</div>
    </div>
    
    <!-- I should procedurally generate these -->
    <div class="environsWrap">
	    <div class="environs">
	    	<div class="mountains">
	    		<div id="a"></div><div id="b"></div><div id="c"></div><div id="e"></div>
	    	</div>
	    	<div class="sun"></div>
	    </div>
	</div>
</body>
</html>