{% extends "site.html" %}
{% block title %}supported activities{% endblock %}
{% block content %}
<div style="text-align:left;">
<h1>Supported activity types</h1>
<ul style="list-style:none;float:left;margin-left:0;margin-top:0;padding-top:0;padding-left:0;width:33%; ">
	<li><span style="color:#999"><b>Activity name</b><br/> <tt>[tag1|tag2|&hellip;]</tt></span></li>
	{% with sortedActivities=actMap|dictsortreversed:"name" %}
		{% for activity in sortedActivities %}
		<li><b>{{ activity.name }}</b><br/><tt>[{% for synonym in activity.synonyms %}<span style="white-space: nowrap;">{{ synonym|safe }}</span>{% if not forloop.last %}|{% endif %}{% endfor %}]</tt></li>
		{% endfor %}
	{% endwith %}
</ul>
<div>
	<h2>This list doesn't matter</h2>
	<p><b>Do not despair if the activities you want to sync are not on this list</b>, exercisync can still synchronize them. You'll just have to change them to the appropriate activity type once they've arrived at their final destination(s). <b>HR, power, cadence, temperature, and caloric data will always be synchronized</b> when the destination supports it, no matter what type of activity the data is attached to.</p>
</div>
<div style="clear:both;"></div>
</div>
{% endblock %}