{% extends "site.html" %}
{% block title %}TrainingPeaks Premium account required{% endblock %}
{% block content %}
<h1>Sorry&hellip;</h1>
<p>TrainingPeaks synchronization <b>requires a premium TrainingPeaks account</b>. This isn't my decision; TrainingPeaks restricts critical parts of their API to paying users only.</p>

<p>Note that <b>you can still export all of your activity files</b> from TrainingPeaks, no matter what kind of account you have.</p>

{% if personId %}
	<a href="https://www.trainingpeaks.com/tpwebservices/bulkdownloadathletedata.aspx?personid={{ personId|urlencode }}&amp;startdate_day=01&amp;startdate_month=01&amp;startdate_year=1900&amp;enddate_day=31&amp;enddate_month=12&amp;enddate_year=2100"> <!-- I think we're safe with these dates... -->
	<button>Download my TrainingPeaks device files (.zip)</button></a>


	<a href="https://www.trainingpeaks.com/tpwebservices/GetCSVWorkoutExport.aspx?p={{ personId|urlencode }}">
	<button>Download my TrainingPeaks workout history (.csv)</button></a>

	<p>(if you're not logged into TrainingPeaks.com, <a href="https://www.trainingpeaks.com/tpwebservices/authentication/login.aspx?username={{ username|urlencode }}&amp;password={{ password|urlencode }}" target="_new">click here to log in first!</a>)</p>
{% else %}
<img src="{{ STATIC_URL }}img/trainingpeaks_download.png">
{% endif %}

{% endblock %}